
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a asp-area="" asp-controller="Photos" asp-action="Index">Photos</a>
<a asp-area="" asp-controller="SportKinds" asp-action="Index">SportKinds</a>
<a asp-area="" asp-controller="Cities" asp-action="Index">Cities</a>
<a asp-area="" asp-controller="SportObjects" asp-action="Index">SportObjects</a>
<a asp-area="" asp-controller="Users" asp-action="Index">Users</a>
<a asp-area="" asp-controller="Records" asp-action="Index">Records</a>