@model SportPlaces.Models.LoginModel


<div class="row" style="margin-top: 15%">
    <div class="col-md-4" style="margin-left: 35%; margin-bottom: 30px;">
        <img src="~/images/Circle.png" class="img-responsive" style="margin-left: 40%; margin-bottom: 15px;" />
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <div>
                <label class="label-danger">@Model?.Error</label>
                <div class="form-group">
                    <label asp-for="Login" class="control-label"></label>
                    <input type="text" asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" />
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Войти" class="btn" />
                </div>
            </div>
        </form>
    </div>
</div>