@model SportPlaces.Models.SportKind

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить данный вид спорта?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SportKindName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SportKindName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Обратно к списку</a>
    </form>
</div>
