@model SportPlaces.Models.SportKind

@{
    ViewData["Title"] = "Details";
}

<h2>Подробности</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SportKindName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SportKindName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Обратно к списку</a>
</div>
