@model SportPlaces.Models.EditRecord

@{
    ViewData["Title"] = "Create";
}

<h2>Создание</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Имя пользователя</label>
                <label> @ViewBag.UserName</label>
            </div>
            <div class="form-group">
                <label class="control-label">Спортивный объект</label>
                <label>@ViewBag.SportObjectName</label>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Дата занятия</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Время занятия</label>
                <select asp-for="Time" asp-items="ViewBag.DateTimes" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label">Длительность занятия</label>
                <select asp-for="Length" asp-items="ViewBag.RecordIntervals" class="form-control"></select>
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
        <input type="hidden" asp-for="Id" />
    </div>
</div>

<div>
    <a asp-action="Index">Обратно к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}