@model SportPlaces.Models.HelpRecord

@{
    ViewData["Title"] = "SubCreate";
}

<h2>Создание</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FinalCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Пользователь</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SportObjectId" class="control-label">Спортивный объект</label>
                <select asp-for="SportObjectId" class="form-control" asp-items="ViewBag.SportObjectId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Продолжить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
