.block {
    height: 200px;
    position: relative;
    margin: 10px 25px;
}

.smallBlock {
    background-image: url(../images/SmallBlock.png);
    background-repeat: no-repeat;
}

.bigBlockSportObject {
    background-image: url(../images/BigBlockSportObject.png);
    background-repeat: no-repeat;
}

.bigBlockUsers {
    background-image: url(../images/BigBlockUsers.png);
    background-repeat: no-repeat;
}

.innerblock {
    padding-left: 35px;
}

.innerblock > a {
    position: absolute;
    bottom: 25px;
    left: 65px;
}

.innerblock > ul {
    padding-left: 18px;
}

.pic {
    display: block;
    margin: auto;
}

.select-control {
    margin-bottom: 15px;
}