.block {
    height: 250px;
    background-image: url(../images/LeftBlock.png);
    background-repeat: no-repeat;
}

.innerblock {
    padding-left: 48px;
}

.innerblock > a {
    bottom: 15px;
}

.pic {
    display: block;
    margin: auto;
}

.select-control {
    margin-bottom: 15px;
}