@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="height: 40px"></div>

<div class="row">
    <div class="col-md-12" style="display:block; margin:auto">
        <img src="~/images/MainPic1.png" style="display:block; margin:auto" class="img-thumbnail img-responsive" />
    </div>
</div>

<div class="row" style="height: 40px"></div>

<div class="row">
    <div class="col-md-12">
        <img src="~/images/MainPic2.png" style="display:block; margin:auto" class="img-thumbnail img-responsive" />
    </div>
</div>
    
<div class="row" style="height: 40px"></div>

<div class="row">
    <div class="col-md-4">
        <h3>Общая информация</h3>
        <ul style="font-size: 20px">
            <li>Спортивных объектов - <span class="badge">12</span></li>
            <li>Пользователей - <span class="badge">8</span></li>
        </ul>
    </div>
</div>
