@model SportPlaces.Models.SportObject

@{
    ViewData["Title"] = "Edit";
}

<h2>Изменение</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discription" class="control-label">Описание</label>
                <input asp-for="Discription" class="form-control" />
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPeople" class="control-label">Максимальное количество занимающихся</label>
                <input asp-for="MaxPeople" class="form-control" />
                <span asp-validation-for="MaxPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beginning" class="control-label">Начало занятий</label>
                <input asp-for="Beginning"  class="form-control" />
                <span asp-validation-for="Beginning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ending" class="control-label">Окончание занятий</label>
                <input asp-for="Ending" class="form-control" />
                <span asp-validation-for="Ending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interval" class="control-label">Длительность занятия</label>
                <select asp-for="Interval" asp-items="ViewBag.Intervals" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="SportKindId" class="control-label">Вид спорта</label>
                <select asp-for="SportKindId" class="form-control" asp-items="ViewBag.SportKindId"></select>
                <span asp-validation-for="SportKindId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label">Город</label>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обранто к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
